*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    
}
body{
    padding: 4rem;
}
h1 span{
    color: rgb(16, 123, 194);
}
button{
    background-color: rgb(128, 0, 128);
    color: whitesmoke;
    padding: .5rem 1rem;
    border: 0;
    cursor: pointer;
    box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.2);
}
button:hover{
    background-color: rgb(50, 3, 94);
}